body{
    text-align:center;
}
div{
    height:100px;
    width:100px;
    display: inline-block;
    border:2px solid black;
}
#container{
    height:800px;
    width:200px;
    
}
#box1{
    background-color:aqua;
}
#box2{
    background-color:pink;
}
#box3{
    background-color:yellowgreen;
}
#box4{
    background-color:red;
}
#box5{
    background-color:blueviolet;
}